<h1>Widgets#index</h1>
<p>Find me in app/views/widgets/index.html.erb</p>

<div id="widgetSomething">
  Nothing here yet...
</div>

<button data-reflex="click->widget#show_something">
  Click Me
</button>
